// ========================================================================================================
// for production use, an s3 bucket is likely a better choice, especially when using CI/CD pipelines
// so the state metadata is available and a dynamodb local table avoid race conditions during
// concurrent access
// ========================================================================================================
// bucket       = "terraform-state-{prd-account}-{region}"

path = "backend/prd/terrform.tfstate"
